Task is to develop a webpage that features fully responsive design based on assets provided in the zip file, and has 4 "modes" of responsiveness (assume that display screen is 1920x1080 pixels):

1. Desktop (from 3/4 width of the screen to 100%) shown in '1 - Desktop.jpg'
2. Tablet (between half and 3/4 of the screen) shown in '2 - Tablet.jpg'
3. Portrait (show between 1/4 and 2/4 of the screen) shown in '3 - Portrait.jpg'
4. Mobile (show when re-sizing browser to under 1/4 of the screen) shown in '4 - Mobile.jpg'

Additional feature should be a login screen with username/password stored in the web config file for simplicity.


Notes:
1. All content needs to be used in all modes, the content just shifts down based on the screen mode we are in
2. Mobile mode has a catch, it needs to hide menu that shows 'all deals|flyer items|print flyer|coupons' and only display 'Weekly flyer' banner
3. Project needs to be done in Visual Studio using front end framework